:host {
    display: block;
}

.search-form {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.data-list {
    margin-top: 2rem;
}

.error-block {
    margin: 4rem auto;
    font-size: 2rem;
    text-align: center;
    color: red;
}
